/*=== GLOBAL IMPORTS ===*/
@import url('/css/style-guide.css');
@import url('/css/global-reset.css');
@import url('/css/components.css');

/*=== HEADER ===*/

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--yellow-brand);
}

.logo img {
    height: 40px;
    width: auto;
}

/*--- NAVIGATION ---*/
#nav-links {
    display: flex;
    gap: 30px;
}

#nav-links a {
    transition: var(--transition-medium);
}

#nav-links a:hover {
    font-weight: 500;
    transition: var(--transition-medium);
    
}

#user-actions {
    display: flex;
}

#user-actions img {
    height: 18px;
    width: 18px;
}

#icons {
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

/*=== HERO ===*/

#main-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--white-brand-light);
}

#product-hero-info {
    width: 50%;
    padding-inline: 80px;
}

#product-hero-info h1 {
    font-size: 3.5rem;
    line-height: 1;
    margin-block: 20px;
}

#product-hero-info p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-block: 20px;
}

#product-hero-info a {
    margin-left: 20px;
    font-size: 1rem;
    color: var(--gray-brand);
    transition: var(--transition-medium);
}

#product-hero-info a:hover {
    text-decoration: underline;
    color: var(--blue-brand);
    transition: var(--transition-medium);
}

#product-hero-foto img {
    width: 720px;
    height: auto;
    padding-block: 20px;
    
    background-color: var(--blue-brand-light);
}